		<form id='f1' method='post' action='/Adivinar' class="form-inline">
			<h1>Juego Iniciado</h1>
			<br />
			<br />
			<table>
				<tbody>
					<tr>
						<%=@columnas%>
					</tr>
				</tbody>
			</table>
			<br />
			<br />
			<label>Ingrese la letra</label>
			<input type='text' name='letra' maxlength="1" style="width:30px;"/>		
			<input type='submit' value='Adivinar' class="btn">	
			<br />
			<br />
			<label>Intentos del Juego: <%=@intentos%></label>
			<br />
			<span>Intentos Fallidos del Juego: <label style="color:red"><%=@intentos_fallidos%></label></span><br />
			<span>Intentos Restantes del Juego: <label style="color:green"><%=@intentos_restantes%></label></span>
			<br />
			<label>Estado del Juego: <%=@estado%></label>
		</form>
		<form id='pista' method='post' action='/mostrar_pista' class="form-inline">
			<input type='submit' value='pista' class="btn">	
			<label>" <%=@pista%> "</label>
		</form>

		
