<html>
	<head>
		<style type='text/css'>
			
			td{
				border-bottom: 2px solid #000000;
				width: 50px;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<form id='f1' method='post' action='/Adivinar'>
			<h1>Juego Iniciado</h1>
			<br />
			<br />
			<table>
				<tbody>
					<tr>
						<%=@columnas%>
					</tr>
				</tbody>
			</table>
			<br />
			<br />
			<label>Ingrese la letra</label>
			<input type='text' name='letra' maxlength="1" style="width:30px;"/>		
			<input type='submit' value='Adivinar'>	
			<br />
			<br />
			<label>Intentos del Juego: <%=@intentos%></label>
			<br />
			<span>Intentos Fallidos del Juego: <label style="color:red"><%=@intentos_fallidos%></label></span><br />
			<span>Intentos Restantes del Juego: <label style="color:green"><%=@intentos_restantes%></label></span>
			<br />
			<label>Estado del Juego: <%=@estado%></label>
		</form>
		<form id='pista' method='post' action='/mostrar_pista'>
			<input type='submit' value='pista'>	
			<label >" <%=@pista%> "</label>

		</form>
		<%=@imagen_ahorcado%>		
	</body>
</html>
